.service{
    background-color: #dadbddfd;
    padding: 50px;
}
.serviceBox{
    background: linear-gradient(transparent 30px, #e6e9ec 30px);
    padding: 15px 0 20px;
    border-radius: 15px;
    margin-top: 20px;
}
.service-title h1{
    font-family: 'Teko', sans-serif;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    /* margin-top: 30px; */
    letter-spacing: 1.5px;
    text-transform: capitalize;
    opacity: .86;
}
.underline1{
    border-bottom: 3px solid #cd6133;
    width: 10%;
    margin: auto;
}
.serviceBox .service-content{
    background: linear-gradient(#cd6133, #cd6133);
    padding: 0 15px 15px;
    margin: 0 0 25px;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0, 0,0, 0.2);
}
.serviceBox .service-icon{
    color: #fff;
    background-color: #333;
    font-size: 48px;
    text-align: center;
    line-height: 85px;
    width: 80px;
    height: 80px;
    margin: 0 auto 5px;
    border-radius: 50%;
    transform: translateY(-15px);
}
.serviceBox .title{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}
.serviceBox .title:before{
    content: '';
    background-color: rgba(0,0,0,0.2);
    height: 2px;
    width: 150px;
    margin: 0 auto 10px;
    display: block;
    clear: both;
}
.serviceBox .description{
    color: #000;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin: 0 15px;
    text-align: center;
    word-break: break-all;
}
.serviceBox .description:after{
    content: '';
    background: linear-gradient(to right, #cd6133, #cd6133); 
    height: 4px;
    width: 50%;
    margin: 20px auto 0;
    display: block;
    clear: both;
}


   

/* .serviceBox.purple .description:after{ background: linear-gradient(to right, #A86FFE, #804AF8); }
.serviceBox.blue .service-content{
    background: linear-gradient(#0083B7, #00639E);
    box-shadow: 0 10px 5px rgba(0, 99, 158, 0.3);
} */
.serviceBox.blue .description:after{ 
    background: linear-gradient(to right, #cd6133, #cd6133); 
}
@media only screen and (max-width:990px){
    .serviceBox{ margin: 0 0 30px; }
}